.movie {
  margin: 0 10px 0 0;

  width: 900px;
  cursor: pointer;
  height: 300px;
  position: relative;
  transition: 0.3s ease left;
  transition-delay: 0.3s;
  left: 0;
  z-index: 500;
  img {
    height: 180px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
    transition: 1s ease border-radius;
    &:hover {
      border-radius: 6px 6px 0 0;
    }
  }

  &:first-child:hover {
    left: 50px;
  }
}
.movie__controls {
  background: rgb(41, 41, 41);
  margin: -5px 0 0 0;
  padding: 20px 30px;
  opacity: 0;
}
.movie__icons {
  display: flex;
  justify-content: space-between;
}
.movie__name {
  margin: 10px 0;
  p {
    &:last-child {
      font-size: 0.8rem;
      color: gray;
    }
  }
}
.movie__icon {
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    transition: ease-in transform 0.2s;
  }
}
